@{
    ViewData["Title"] = "elation is facile";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            
        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">
            
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-3">
       
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3">
       
    </div>
    <div class="col-md-3">
       
    </div>
</div>
<div>
    <p style="padding-top: 20px">
        Nothing to see here, move along.
    </p>
</div>
